{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Series</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>mon article</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ article.picture }}</td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>{{ article.categories }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('article_edit', { 'id': article.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
